.home-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.home-background canvas {
  display: block;
  width: 100%;
  height: 100%;
}

